* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-auto-80 {
    width: 80%;
    margin: auto;
}

.flex {
    display: flex;

}

.card {
    flex-direction: column;
    width: 31.66%;
    min-width: 200px;
}

/*.width-30 {
    width: 30%;

}*/

.mark {
    text-transform: capitalize;

}

.object {
    text-transform: uppercase;

}

.price {
    color: red;

}

.contain {
    width: 100%;
    object-fit: contain;
}

.wrap {
    flex-wrap: wrap;
}

#big-box {
    justify-content: space-between;
}

.old-price {
    text-decoration: line-through;
    color: black;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-margin {
    margin-top: 20px;
}

.item-margin {
    margin-top: 5px;
}