* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

.margin-auto-80 {
    width: 80%;
    margin: auto;
}

.flex {
    display: flex;

}

.card {
    flex-direction: column;
    width: 31.66%;
    min-width: 200px;
    border: 1px solid #eaeaea;
    margin-top: 20px;
}

/*.width-30 {
    width: 30%;

}*/

.mark {
    text-transform: capitalize;

}

.object {
    text-transform: uppercase;
    font-weight: 600;
}

.price {
    color: red;
    font-weight: 500;

}

.contain {
    width: 100%;
    object-fit: contain;
}

.wrap {
    flex-wrap: wrap;
}

#big-box {
    justify-content: space-between;
}

.old-price {
    text-decoration: line-through;
    color: black;
    font-weight: 400;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-margin {
    margin-top: 20px;
}

.item-margin {
    margin-top: 5px;
}

.smaller-text {
    font-size: smaller;
}

.white-text {
    color: white;
}

#header {
    height: inherit;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 10%;
}

#footer {
    height: 60px;
    background-color: #1a1a1a;
    justify-content: space-around;
    font-size: small;
    align-items: center;
    color: white;
}

.gap-15 {
    gap: 15px;
}

.header-height {
    height: 50px;
}

.header-bg {
    background-color: #ff6900;
}

.no-border {
    border: none;
}

.hover:hover {
    background-color: #ff8731;
}

.button:active {
    background-color: #ff8731;
}